body {
    width: 1400px;
    margin-top: 0px;
}

.header {
    background-image: url(image/menzere.png);
    height: 760px;
}

.header__nawbar {
    display: flex;
    justify-content: space-between;
}

.header__nawbar img {
    width: 190px;
    height: 52px;
    margin-top: 14px;
    margin-left: 145px;
}

.header__nawbar nav ul li {
    display: inline;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    text-decoration: none;
}

.header__goy {
    width: 305px;
    height: 83px;
    background-color: #253476;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
}

.header__goy img {
    width: 50px;
    height: 25px;
    /* margin-right: 119px;
    margin-top: 28px; */
}